---
import { cn } from '@utils/index';
import type { JSX } from 'astro/jsx-runtime';

type Props = {
  variant?: keyof typeof variants;
} & JSX.IntrinsicElements['button'];

const variants = {
  primary: 'bg-primary dark:bg-secondary text-primary-foreground dark:text-secondary-foreground',
  secondary: 'dark:bg-primary bg-secondary dark:text-primary-foreground text-secondary-foreground',
} as const;

const {variant = "primary", ...props} = Astro.props;

---

<button class={cn("py-2 cursor-pointer border hover:bg-opacity-70 dark:hover:opacity-70 inline-flex h-10 items-center justify-center rounded-md px-8 text-sm font-medium shadow transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring allowed disabled:pointer-events-none disabled:opacity-50", variants[variant])} {...props}>
  <slot />
</button>
