---
import Layout from '@layouts/Layout.astro';

---

<Layout
	title="Blog - Jakub Nalewajk"
	description="Jakub Nalewajk's blog where he shares his thoughts on software development, productivity, and more."
>
  <h1>Blog</h1>
  <p>Coming soon...</p>
</Layout>
