---

import { Button, Heading, Link } from '@components/shared';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<Heading>Hello world</Heading>
	<Button variant='primary'>Click me</Button>
	<Button variant='secondary'>Click me</Button>
	<Link href='/about'>About</Link>
</Layout>
