---
import { cn } from "@utils/index";
import type { JSX } from "astro/jsx-runtime";

type Props = {
  variant?: keyof typeof variants;
} & JSX.IntrinsicElements["div"];

const variants = {
  primary: "bg-card text-primary border border-border",
  secondary: "bg-primary/10 text-primary",
} as const;

const { variant = "primary", class: className, ...rest } = Astro.props;
---

<div
  class={cn(
    "text-xs font-semibold uppercase tracking-wider px-3 py-1 rounded-full",
    variants[variant],
    className,
  )}
  {...rest}
>
  <slot />
</div>
