---
import { cn } from "@utils/cn";

type Props = {
  items: readonly string[];
  class?: string;
};

const { items, class: className } = Astro.props;
---

<ul class={cn("space-y-3", className)}>
  {
    items.map((item) => (
      <li class="flex gap-3 text-sm text-muted-foreground leading-relaxed">
        <span class="text-primary mt-2 shrink-0 block size-1.5 rounded-full bg-current"></span>
        <span>{item}</span>
      </li>
    ))
  }
</ul>
