---
import { cn } from "@utils/cn";
import type { JSX } from "astro/jsx-runtime";

type Props = {
  variant?: keyof typeof variants;
} & JSX.IntrinsicElements["a"];

const variants = {
  primary:
    "bg-gradient-to-r from-gradient-from to-gradient-to hover:opacity-90 text-white",
  secondary: "bg-card hover:bg-muted text-foreground border border-border",
  ghost: "hover:bg-muted text-foreground",
} as const;

const { variant = "primary", class: className, ...rest } = Astro.props;
---

<a
  class={cn(
    "py-2.5 cursor-pointer inline-flex h-11 items-center justify-center gap-2 rounded-lg px-6 text-sm font-semibold shadow-sm transition-all duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&>svg]:shrink-0",
    variants[variant],
    className,
  )}
  {...rest}
>
  <slot />
</a>
