---
import { cn } from "@utils/index";

const { class: className, ...rest } = Astro.props;
---

<div
  class={cn(
    "bg-accent text-popover-foreground px-5 py-4 rounded-md border border-dashed drop-shadow-lg border-primary min-w-[300px]",
    className,
  )}
  {...rest}
>
  <slot />
</div>
