---
import { cn } from "@utils/index";

const { class: className, ...rest } = Astro.props;
---

<div
  class={cn(
    "bg-card text-card-foreground px-5 py-4 rounded-xl border border-border min-w-[300px]",
    className,
  )}
  {...rest}
>
  <slot />
</div>
