---
import { cn } from "@utils/cn";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  class?: string;
}

const { name, class: className } = Astro.props;
---

<div class={cn("flex justify-center items-center w-10 h-10 rounded-lg bg-primary/10 shrink-0", className)}>
  <Icon name={name} size={20} class="text-primary" />
</div>
