---
import { cn } from "@utils/index";
const { class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  class={cn(
    "text-primary cursor-pointer font-medium transition-colors hover:underline focus:underline max-w-max",
    className,
  )}
>
  <slot />
</a>
