---
import { cn } from "@utils/index";
const { class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  class={cn(
    "text-primary cursor-pointer font-medium transition-colors no-underline hover:underline focus:underline max-w-max truncate",
    className,
  )}
>
  <slot />
</a>
