---
import { cn } from "@utils/index";
const {class: className, ...rest} = Astro.props;
---

<a {...rest} class={cn("text-primary font-medium dark:text-secondary border-b-2 border-b-transparent hover:border-b-primary transition-colors dark:hover:border-b-secondary", className)}>
  <slot />
</a>
