---
import { cn } from "@utils/cn";
import { Icon } from "astro-icon/components";
import type { JSX } from "astro/jsx-runtime";

type Props = {
  class?: string;
  iconName: string;
  slideWidth?: "xs" | "sm" | "md" | "lg" | "xl";
  size: number;
} & JSX.IntrinsicElements["button"];

const { class: className, iconName, size, ...rest } = Astro.props;
---

<button
  {...rest}
  class={cn(
    "border border-primary text-center w-48 rounded-2xl h-14 relative font-sans text-primary text-xl font-semibold group",
    className,
  )}
>
  <div
    class="bg-primary rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[95%] z-10 duration-500"
  >
    <Icon name={iconName} size={size} class="text-primary-foreground" />
  </div>
  <p class="translate-x-2">
    <slot name="content" />
  </p>
</button>
