---
import { Link } from '@components/index';

type Link = {
  href: string;
  text: string;
};

const { links }  = Astro.props;
---

<nav>
  <ul class="flex space-x-4">
    {links.map(({ href, text }: Link) => (
      <li>
        <Link href={href}>{text}</Link>
      </li>
    ))}
  </ul>
</nav>
