---
import { Link } from "@components/atoms";

type Link = {
  href: string;
  text: string;
};

const { links } = Astro.props;
---

<nav>
  <ul class="flex flex-col md:flex-row gap-4 bg-accent p-4 rounded-md">
    {
      links.map(({ href, text }: Link) => (
        <li>
          <Link href={href}>{text}</Link>
        </li>
      ))
    }
  </ul>
</nav>
