---
import { IconLink } from "@components/atoms";
import { Navigation, ThemeToggler } from "@components/molecules";
import Hamburger from "@components/molecules/Hamburger.astro";

const links = [
  { href: "/#skills", text: "Skills" },
  { href: "/#contact", text: "Contact" },
  { href: "/blog", text: "Blog" },
] as const;
---

<header
  class="flex items-center justify-between p-4 sticky top-0 left-0 z-50 bg-accent shadow-md"
>
  <IconLink class="cursor-pointer" href="/" name="mdi:code-tags" size={48} />
  <div class="flex items-center justify-between gap-4">
    <Hamburger class="flex lg:hidden">
      <Navigation links={links} />
    </Hamburger>

    <nav class="hidden lg:flex gap-3 items-center">
      <Navigation links={links} />
    </nav>
    <ThemeToggler />
  </div>
</header>
