---
import {Paragraph, Heading, Section, Flex, ButtonLink} from '@components/index'
---

<Section class="space-y-2">
  <Flex class="flex-col gap-1">
    <Heading class="text-5xl">Jakub Nalewajk</Heading>
    <Heading class="text-muted-foreground text-xl font-semibold" level={2}>Fullstack Developer</Heading>
  </Flex>

    <Paragraph>
      I'm a fullstack developer with a passion for building beautiful and functional web applications.
    </Paragraph>

    <Flex>
    <ButtonLink href="#contact">Contact me</ButtonLink>
    <ButtonLink href="/resume"variant='secondary'>Resume</ButtonLink>
  </Flex>
</Section>
