---
import { Badge, Heading, Paragraph, Section, Card, Grid, SkillCard } from "@components/index";

const skills = [{
  type: "Frontend",
  items: ["HTML", "CSS", "JavaScript", "React", "Vue", "Svelte"]
}, {
  type: "Backend",
  items: ["Node.js", "Express", "Deno", "NestJS", "GraphQL"]
}, {
  type: "Database",
  items: ["MongoDB", "PostgreSQL", "MySQL", "SQLite"]
}, {
  type: "DevOps",
  items: ["Docker", "Kubernetes", "CI/CD", "AWS", "Azure"]
}, {
  type: "Other",
  items: ["Git", "REST", "GraphQL", "Agile", "Scrum"]
}]
---

<Section class="space-y-2 bg-muted">
    <Badge>Skills</Badge>
    <Heading class="text-4xl">What I Can Do</Heading>
    <Paragraph>
        I have a diverse set of skills that allow me to tackle a wide range of web development projects.
    </Paragraph>

    <Grid>
        {skills.map(({ type, items }) => (
            <SkillCard type={type} items={items} />
        ))}
    </Grid>
</Section>
