---
import "../styles/global.css";

import { Footer, Header } from "@components/organisms";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body class="bg-background text-primary min-h-svh flex flex-col">
    <SpeedInsights />
    <Header />
    <main class="flex flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
